<section class="card">
  <header class="card-header">Ingredientes</header>
  <main
    class="list-group list-group-flush"
    *ngIf="(ingredients$ | async) as ingredients"
  >
    <a
      href="#"
      *ngFor="let ingredient of ingredients"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      (click)="handleIngredientClick(ingredient)"
    >
      {{ ingredient.name }}
      <span class="badge badge-primary badge-pill">{{ ingredient.value | reais }}</span>
    </a>
  </main>
</section>
