<section class="fl-cols-container">
  <aside class="fl-rows-container fl-col-3 fl-gutter-5">
    <app-recipes-pane (recipeClicked)="orderPane.replaceIngredients($event)"></app-recipes-pane>

    <app-ingredients-pane (ingredientClicked)="orderPane.addIngredient($event)"></app-ingredients-pane>
  </aside>

  <aside class="fl-cols-container fl-gutter-5">
    <app-order-pane #orderPane></app-order-pane>

    <aside class="fl-rows-container fl-col-4">
      <app-total-pane [ingredientsList]="orderPane.ingredientsList"></app-total-pane>
    </aside>
  </aside>
</section>
