<section class="card">
  <header class="card-header">Resumo</header>

  <main class="card-body">

    <div class="fl-cols-container">
      <strong>Total de Ingredientes:</strong>
      <aside class="fl-col-3">{{ ingredientsSum | reais }}</aside>
    </div>

    <h5 class="mt-3">Descontos:</h5>

    <section>
      <div
        *ngFor="let discount of discounts"
        class="fl-cols-container"
        [title]="discount.description"
      >
        <aside>{{ discount.name }}</aside>
        <aside class="fl-col-3 text-danger">-{{ discount.value | reais }}</aside>
      </div>

      <div class="fl-cols-container">
        <strong>Total de descontos:</strong>
        <aside class="fl-col-3 text-danger">-{{ discountsSum | reais }}</aside>
      </div>
    </section>
  </main>

  <footer class="card-footer fl-cols-container">
    <strong>Total final:</strong>
    <aside class="fl-col-3">{{ total | reais }}</aside>
  </footer>
</section>
